* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 5;
}

.tippy-box {
  background: none;
  border-radius: none;
}

.tippy-arrow {
  display: none;
}

.data-tippy-root {
  margin-top: 100px;
}

/* Group Page */
header {
  display: grid;
  column-gap: 15px;
  grid-auto-flow: row;
  grid-template-columns: 100% 100% 100% 100%;
}

.context-nav {
  display: grid;
  column-gap: 15px;
  grid-auto-flow: row;
  grid-template-columns: 100% 100% 100% 100%;
}

.context-nav p {
  width: 100vw;
}

.grid {
  display: grid;
  column-gap: 15px;
  grid-auto-flow: row;
  grid-template-columns: 100% 100% 100% 100%;
}

/* SIDE BAR */
aside {
  background: rgb(206, 57, 57);
}

/* STUDENT */
.student p {
  padding-bottom: 50px;
}
