* {
  box-sizing: border-box;
}

a {
  font-size: 50px;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
}

main {
  margin: 25px;
}

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.tippy-box {
  background: none;
  border-radius: none;
}

.tippy-arrow {
  display: none;
}

.data-tippy-root {
  margin-top: 100px;
}

/* SIDE BAR */
aside {
  background: black;
}
