<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sint Lucas Masters</title>
    <meta name="description" content="Masters of Sint Lucas Antwerpen" />
    <meta property="og:url" content="www.sintlucasmasters.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Sint Lucas Masters" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="/css/main.css" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>Sint Lucas Masters &mdash; <mark>Practise Practice</mark></h1>

      <div id="inner-intro">
        <h2>
          Practise Practice, 26.06 &mdash; 04.06.2021, everyday from 13h &mdash;
          17h, Masters expo at Sint Lucas Antwerpen, Van Schoonbekestraat 143,
          2018 Antwerpen, Nocturne 01.06 from 18h &mdash; 21h
        </h2>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <!-- <i class="fas fa-horse fa-rotate-270"></i> -->
        <i class="fas fa-circle"></i>
      </a>
    </header>

    <main>
      <div class="students">
        <div class="digital">
          <h2 class="context">Digital Context</h2>
          <div class="student">
            {% for student in collections.digitalContext %}
            <div class="student-student">
              <a
                class="student-thumb"
                data-tippy-content="<img src={{ student.data.main_image }}>"
                href="{{ student.url }}"
                ><img id="img" src="{{ student.data.main_image }}" alt=""
              /></a>
              <p>
                {{ student.data.project_title }} &mdash; {{
                student.data.student_name }}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="autonomous">
          <h2 class="context">Autonomous Context</h2>
          <div class="student">
            {% for student in collections.autonomousContext %}
            <div class="student-student">
              <a
                class="student-thumb"
                data-tippy-content="<img src={{ student.data.main_image }}>"
                href="{{ student.url }}"
                ><img id="img" src="{{ student.data.main_image }}" alt=""
              /></a>
              <p>
                {{ student.data.project_title }} &mdash; {{
                student.data.student_name }}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="applied">
          <h2 class="context">Applied Context</h2>
          <div class="student">
            {% for student in collections.appliedContext %}
            <div class="student-student">
              <a
                class="student-thumb"
                data-tippy-content="<img src={{ student.data.main_image }}>"
                href="{{ student.url }}"
                ><img id="img" src="{{ student.data.main_image }}" alt=""
              /></a>
              <p>
                {{ student.data.project_title }} &mdash; {{
                student.data.student_name }}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="sociopolitical">
          <h2 class="context">Socio-Political Context</h2>
          <div class="student">
            {% for student in collections.sociopoliticalContext %}
            <div class="student-student">
              <a
                class="student-thumb"
                data-tippy-content="<img src={{ student.data.main_image }}>"
                href="{{ student.url }}"
                ><img id="img" src="{{ student.data.main_image }}"
              /></a>
              <p>
                {{ student.data.project_title }} &mdash; {{
                student.data.student_name }}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- <div class="student">
          {% for student in collections.students %}
          <a
            class="student-thumb"
            data-tippy-content="<img src={{ student.data.main_image }}>"
            href="{{ student.url }}"
            alt=""
          >
            <img src="{{ student.data.main_image }}" />
          </a>
          <p>
            {{ student.data.student_name }} &mdash; {{
            student.data.project_title }}
          </p>
          {% endfor %}
        </div> -->
      </div>
    </main>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      //hamburger button
      function myFunction() {
        var x = document.getElementById("inner-intro");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }

      //tippy-tool
      tippy("[data-tippy-content]", {
        allowHTML: true,
        followCursor: true,
      });
    </script>
  </body>
  <footer>
    <img class="logo" src="/images/sla-logo.png" />
    <div class="contact">
      <a href="https://www.sintlucasantwerpen.be/">Sint Lucas Antwerpen</a>
      <p>Van Schoonbekestraat 143</p>
      <p>2018 Antwerpen</p>
    </div>
  </footer>
</html>
